

body{
  margin:0;

}

.main-login{
  width:100vw; 
  height: 100vh;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-login{

  width: 30vw;
  height:20vw;

}


.left-login{

  width:50vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.left-login  h1{

  color: #1641A2;
  font-size: 3vw;
 
  
}


.right-login{

  width:50vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}


.card-login{

  width: 60%; 
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px; 
  background: #ffff;
  border-radius:20px;
  box-shadow: 0px 10px 40px #00000056;
 

  
}


.card-login  h1{

  color: #00ff88;
  font-weight: 800; 
  margin:0;
}


.textfield{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}


.textfield input{
 width:100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #c9c9c9;
  color: #000000;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;

}


.textfield  label{

   color: #0000;
   margin-bottom: 10px;


}
 /*
.textfield input:: placeholder{
 
 color: #f0ffff94;


}*/


.text_login{

  color: #00000000;


}


.btn-login{
  width:100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none; 
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  background: #0C326F;
  color: #ffff;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;

}







