.dashboard{

    display: flex;
    
    
    height: 100%;
   
  
}

.logo_image{

    width: 200px;
    height: 100%;
}

.barra_lateral{

    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    position: fixed;
   
    color: #ffff;
    padding: 2%;
    
    border-right: 1px solid #ddd;
    background-color: #fff;
}

.menu-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: gray;
    gap: 2rem;
    padding-top: 10%;
    font-size: larger;
   
}


.conteudo{

    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
   
    
   
    
}


.pesquisa_planos{

  
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pesquisa{

    display: flex;
    align-items: center;
    gap: 2rem;
}

.titulo_campo{

    font-size: large;
    font-weight: bold;
   
}

.select_planos{

    height: 50px;
    width: 400px;
}

.botao-lupa{


    background-color: #1641A2 ;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    border: none;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:xx-large;
}


.metas{

    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.meta{

    height: auto;
    box-shadow:inset;
   
    margin: 2%;
    padding: 2%;
    background-color: #f8f9fa;
    border-radius: 9px;
}

   .horizontal-line {
            width: 100%;
            border-top: 1px solid #ddd;
            margin-top: 20px;
        }

.logout_div{

    width: 100%;
    height: 100%;
    display: flex;
    
}
.LogoutButton{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #004F99;
    border: none;
    font-size: 20px;
}