.painel-metas {

  color: #000;
}

.bento-grid {
  display: grid;
   grid-template-columns: repeat(6, 1fr);  
  grid-template-rows: 200px 200px;
  grid-template-areas:
    "box-1 box-1 box-1 box-2 box-3 box-4"
    "box-1 box-1 box-1 box-5 box-5 box-6";
  gap: 1em;
  
   width: 100%;
   padding: 20px;
   box-sizing: border-box;
}

.bento-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
  padding: 1rem;
}

.bento-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.contador {
  font-size: 2rem;
  font-weight: bold;
  color: #1a1a1a;
}

.contador_titulo{

    color: black;
}